In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#from sklearn.ensemble import RandomForestRegressor

/home/pokala/anaconda3/envs/ani/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/home/pokala/anaconda3/envs/ani/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [9]:
pos = pd.read_csv("ML/Datasets/Position_Salaries.csv")

In [10]:
pos.head(10)

            Position  Level   Salary
0   Business Analyst      1    45000
1  Junior Consultant      2    50000
2  Senior Consultant      3    60000
3            Manager      4    80000
4    Country Manager      5   110000
5     Region Manager      6   150000
6            Partner      7   200000
7     Senior Partner      8   300000
8            C-level      9   500000
9                CEO     10  1000000

In [13]:
real_x = pos[["Level"]].values
real_y = pos[["Salary"]].values

In [ ]:
ran = RandomForestRegressor(n_estimator = 300 , random_state=0)
ran.fit(real_x,real_y)
# n_estimator is for no of decision trees

In [ ]:
y_pred = ran.predict(6)

In [14]:
x_grid = np.arange(min(real_x),max(real_x),0.01)
x_grid = x_grid.reshape((len(x_grid),1))
plt.scatter(real_x,real_y,colot ="red")
plt.plo